<!DOCTYPE html>
<html<%= content_for(:angular_app) %>>
  <head>
    <title>AssignmentAngularRailsAuthSprint</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <body class="container">
    <!-- <h1>Welcome from the layout {{ currentUser.email }}!</h1> -->
    <!-- <a data-method="delete" href="/users/sign_out" rel="nofollow">Logout</a> -->

    <%= yield %>
  </body>
</html>
